{% for document in documents %}
    <button
        class="flex w-full flex-col gap-y-2 rounded-lg px-3 py-2 text-left transition-colors duration-200 hover:bg-slate-200 focus:outline-none dark:hover:bg-slate-800 document-img">
        <h1 class="text-sm font-medium capitalize text-slate-700 dark:text-slate-200">
            {{ document.name }}
        </h1>
        <img src="{{ document.path }}" class="h-7 w-7" fill="currentColor" stroke-width="1" viewBox="0 0 32 32">
    </button>
{% endfor %}
