{% load static %}
<div class="flex bg-slate-100 px-4 py-8 dark:bg-slate-900 sm:px-6">
    <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/dog.png' %}" />

    <div class="flex w-full flex-col items-start lg:flex-row lg:justify-between">
        <div class="max-w-3xl markdown-content">
            I generated a new CV for you to improve your chances of getting hired. Here is the updated CV:
        </div>
        <button
            class="flex w-full flex-col gap-y-2 rounded-lg px-3 py-2 text-left transition-colors duration-200 hover:bg-slate-200 focus:outline-none dark:hover:bg-slate-800 document-img">
            <h1 class="text-sm font-medium capitalize text-slate-700 dark:text-slate-200">
                {{ resume.name }}
            </h1>
            <img src="{{ resume.path }}" class="h-7 w-7" fill="currentColor" stroke-width="1" viewBox="0 0 32 32">
        </button>
        {% include 'langui/assistant-message-buttons.html' %}
    </div>
</div>
