{% load static %}
{% load i18n %}
<div class="flex bg-slate-100 px-4 py-8 dark:bg-slate-900 sm:px-6">
    <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/dog.png' %}" />

    <div class="flex w-full flex-col items-start lg:flex-row lg:justify-between">
        <div class="max-w-3xl markdown-content">
            {% trans "I found the following questions are asked by the employer. I generated some answers to ease your application process. Here are the answers:" %}
            {% for field in fields %}
                <div class="flex flex-col gap-y-2 rounded-lg px-3 py-2 text-left transition-colors duration-200 hover:bg-slate-200 focus:outline-none dark:hover:bg-slate-800 document-img">
                    <h1 class="text-sm font-medium capitalize text-slate-700 dark:text-slate-200">
                        {{ field.title }}
                    </h1>
                    <p class="text-sm font-medium capitalize text-slate-700 dark:text-slate-200">
                        {{ field.value }}
                    </p>
                </div>
            {% endfor %}
        </div>
        {% include 'langui/assistant-message-buttons.html' %}
    </div>
</div>
