
<div class="container mx-auto p-4">
    <div class="job-offer-grid">
        {% for job_offer in content.result %}
        <div class="job-offer bg-slate-100 dark:bg-slate-900 rounded-lg shadow-sm p-4 mb-4">
            <div class="compact-view">
                <h1 class="text-xl font-bold mb-2">{{ job_offer.name|safe }}</h1>
                <p class="text-slate-700 dark:text-slate-300 mb-1"><strong>Organization:</strong> {{ job_offer.organization.name|safe }}</p>
                <img src="{{ job_offer.organization.logo.url|safe }}" alt="{{ job_offer.organization.name|safe }}" class="w-10 h-10 mb-2">
            </div>
            <div class="detailed-view hidden">
                <!-- All the detailed information here -->
                <div class="mb-4">
                    <img src="{{ job_offer.organization.cover_image.medium.url|safe }}" alt="{{ job_offer.organization.name|safe }}" class="rounded-lg w-full">
                </div>

                {% if job_offer.organization.description %}
                <div class="text-slate-600 dark:text-slate-400 mb-1">{{ job_offer.organization.description|safe }}</div>
                {% endif %}
                {% if job_offer.profile %}
                <h2 class="text-lg font-semibold mb-1">Job Description</h2>
                <div class="text-slate-600 dark:text-slate-400 mb-1">{{ job_offer.profile|safe }}</div>
                {% endif %}
                {% if job_offer.organization.nb_employees %}
                <p class="text-slate-700 dark:text-slate-300 mb-1"><strong>Number of Employees:</strong> {{ job_offer.organization.nb_employees|safe }}</p>
                {% endif %}


                {% if job_offer.benefits %}
                <div class="my-2">
                    <h2 class="text-lg font-semibold mb-1">Benefits</h2>
                    <ul class="list-disc list-inside">
                        {% for benefit in job_offer.benefits %}
                        <li class="text-slate-700 dark:text-slate-300">{{ benefit|safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <p class="text-slate-500 dark:text-slate-400 text-xs mt-2"><strong>Published at:</strong> {{ job_offer.published_at|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
