{% load static %}
{% if role == 'assistant' %}
<div class="flex bg-slate-100 px-4 py-8 dark:bg-slate-900 sm:px-6">
  <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/dog.png' %}" />

  <div class="flex w-full flex-col items-start lg:flex-row lg:justify-between">
    <div class="max-w-3xl markdown-content">
      {{ content|safe }}
    </div>
    {% include 'langui/assistant-message-buttons.html' %}
  </div>
</div>
{% elif role == 'tool' %}
<div class="flex flex-row px-4 py-8 sm:px-6">
  <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/tools.png' %}" />
  {% if content.name == 'search_jobs' %}
    {% include 'langui/job-offer.html' %}
  {% else %}
    <div class="flex max-w-3xl items-center">
      <div id="json-content">{{ content|safe }}</div>
    </div>
  {% endif %}
</div>
{% else %}
<div class="flex flex-row px-4 py-8 sm:px-6">
  <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/user-image.png' %}" />
  <div class="flex max-w-3xl items-center">
    <p>{{ content }}</p>
  </div>
</div>
{% endif %}
