{% load static %}
{% load i18n %}
<div class="flex flex-row px-4 py-8 sm:px-6">
    <img class="mr-2 flex h-8 w-8 rounded-full sm:mr-4" src="{% static 'images/tools.png' %}" />
    <h1 class="text-xl font-bold mb-2">{{ offer.name|safe }}</h1>
    <div class="flex flex-col">
        <div class="mb-4">
            <h2 class="text-lg font-semibold">{% trans "Company Information" %}</h2>
            <p><strong>Name:</strong> {{ offer.organization.name }}</p>
            {% if offer.organization.description %}
            <p><strong>{% trans "Description:" %}</strong> {{ offer.organization.description }}</p>
            {% endif %}
            {% if offer.organization.nb_employees %}
            <p><strong>{% trans "Number of Employees:" %}</strong> {{ offer.organization.nb_employees }}</p>
            {% endif %}
            {% if offer.organization.logo %}
            <img class="h-12 w-12 rounded-full" src="{{ offer.organization.logo.url }}" alt="Company Logo">
            {% endif %}
            {% if offer.organization.cover_image %}
            <img class="w-full h-auto mt-2" src="{{ offer.organization.cover_image.medium.url }}" alt="Cover Image">
            {% endif %}
        </div>
        <div class="mb-4">
            <h2 class="text-lg font-semibold">{% trans "Job Details" %}</h2>
            <p><strong>{% trans "Category:" %}</strong> {{ offer.new_profession.category_name }}</p>
            <p><strong>{% trans "Sub-Category" %}:</strong> {{ offer.new_profession.sub_category_name }}</p>
            <p><strong>{% trans "Contract Type:" %}</strong> {{ offer.contract_type }}</p>
            {% if offer.contract_duration_minimum and offer.contract_duration_maximum %}
            <p><strong>{% trans "Contract Duration:" %}</strong> {{ offer.contract_duration_minimum }} - {{
                offer.contract_duration_maximum }}{% trans " months" %}</p>
            {% endif %}
            {% if offer.education_level %}
            <p><strong>{% trans "Education Level:" %}</strong> {{ offer.education_level }}</p>
            {% endif %}
            {% if offer.experience_level_minimum %}
            <p><strong>{% trans "Minimum Experience Level:" %}</strong> {{ offer.experience_level_minimum }}</p>
            {% endif %}
            <p><strong>{% trans "Language:" %}</strong> {{ offer.language }}</p>
            {% if offer.salary_minimum and offer.salary_maximum %}
            <p><strong>{% trans "Salary Range:" %}</strong> {{ offer.salary_currency }} {{ offer.salary_minimum }} - {{
                offer.salary_maximum }} per {{ offer.salary_period }}</p>
            {% endif %}
            {% if offer.has_remote %}
            <p><strong>{% trans "Remote Work:" %}</strong> {{ offer.remote }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <h2 class="text-lg font-semibold">{% trans "Location" %}</h2>
            {% for office in offer.offices %}
            <p><strong>{% trans "Country:" %}</strong> {{ office.country }}</p>
            {% if office.local_city %}
            <p><strong>{% trans "City:" %}</strong> {{ office.local_city }}</p>
            {% endif %}
            {% if office.local_state %}
            <p><strong>{% trans "State:" %}</strong> {{ office.local_state }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="mb-4">
            <h2 class="text-lg font-semibold">{% trans "Benefits" %}</h2>
            <ul class="list-disc list-inside">
                {% for benefit in offer.benefits %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4">
            <h2 class="text-lg font-semibold">{% trans "Additional Information" %}</h2>
            {% if offer.profile %}
            <p><strong>{% trans "Profile:" %}</strong> {{ offer.profile }}</p>
            {% endif %}
            <p><strong>{% trans "Published At:" %}</strong> {{ offer.published_at }}</p>
            {% if offer.url %}
            <p><strong>{% trans "Job URL:" %}</strong> <a class="text-blue-500 underline" href="{{ offer.url }}">{{ offer.url }}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
