<!-- Prompt Messages Container - Modify the height according to your need -->
<div class="flex h-full w-full flex-col">
  <div
    class="flex-1 overflow-y-auto bg-slate-300 text-sm leading-6 text-slate-900 shadow-md dark:bg-slate-800 dark:text-slate-300 sm:text-base sm:leading-7"
    id="message-container">
  </div>
  {% include 'langui/search-input.html' %}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const jsonContent = document.getElementById("json-content");
    if (jsonContent) {
      const formatter = new JSONFormatter(JSON.parse(jsonContent.textContent), 2);
      jsonContent.innerHTML = '';
      jsonContent.appendChild(formatter.render());
    }
  });
</script>
