<div
  class="rounded-xl border border-border bg-muted p-2"
  style="margin-top: 20px"
>
  <div class="flex flex-row items-end justify-center">
    <textarea
      placeholder="Ask anything!"
      class="flex w-full rounded-md border-input px-3 py-2 ring-offset-background placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 focus-visible:ring-none m-0 h-10 min-h-0 resize-none border-0 bg-transparent pl-2 text-base focus-visible:outline-none focus-visible:outline-0 focus-visible:ring-0 focus-visible:ring-offset-0 sm:text-base"
      style="
        transform: translateZ(0px);
        min-height: 12px;
        max-height: 300px;
        height: 42px;
      "
    ></textarea
    ><button
      class="whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-auto disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 m-0 flex min-h-10 min-w-10 items-center justify-center rounded-xl p-0"
      aria-label="Send question"
      type="submit"
      disabled=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="ml-1 h-5 w-5 fill-primary-foreground"
      >
        <path
          d="M20.364 9.595 5.618 3.53a2.599 2.599 0 0 0-3.46 3.211L3.876 12l-1.718 5.258a2.605 2.605 0 0 0 2.461 3.411c.343 0 .682-.068.999-.2l14.746-6.064a2.6 2.6 0 0 0 0-4.81M3.108 6.432A1.607 1.607 0 0 1 4.615 4.33c.214 0 .426.044.623.126l14.745 6.065a1.6 1.6 0 0 1 .873.872c.02.05.03.103.046.154a.5.5 0 0 0-.207-.047H4.765zm16.875 7.047L5.237 19.545a1.6 1.6 0 0 1-2.13-1.977L4.765 12.5h15.931a.5.5 0 0 0 .208-.048 1.59 1.59 0 0 1-.92 1.027"
        ></path>
      </svg>
    </button>
  </div>
</div>
