<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base-headers.html' %}
    <!-- Include Markdown-it for rendering markdown -->
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

    <!-- Include json-formatter-js for displaying JSON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/json-formatter-js/dist/json-formatter.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json-formatter-js/2.3.3/json-formatter.min.js"></script>

    <title>Aiden</title>
</head>

<body class="bg-gray-100">

    <!-- Main container with flex layout -->
    <div class="flex h-screen overflow-hidden">

        <!-- Sidebar container -->
        <div class="w-64 bg-white shadow-md flex-shrink-0" id="sidebar">
            {% include 'langui/sidebar.html' %}
        </div>

        <!-- Prompt container -->
        <div class="flex-1 bg-gray-50 overflow-auto" id="chat-container">
            {% include 'langui/prompt-container.html' %}
        </div>
    </div>

</body>

</html>
<style>
@media (prefers-color-scheme: dark) {
    #chat-container{
        background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    }
}
</style>
